@import url('https://fonts.googleapis.com/css?family=Raleway');


body{

font-family: Raleway;
background-color: lightblue;
margin: 0;

}


main{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-color: #f2f6fc;

}

main header h1{

    padding-top: 0.6em;

}

nav ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}



nav{

    background-color: #474747;
    overflow: hidden;
    top: 0;
    width: 100%;

    }

nav li{

    float: left;
    font-family: Raleway;
}


nav li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all ease 0.5s;

}

nav img.logo{

    float: left;
    width: 80px;
    height: 46px;
    margin-right: 2%;


}

.active{

    background-color: #2f71c6;

}

li a:hover:not(.active){

    background-color: #111;
    transition: all ease 0.5s;

}




footer{
    
    color: white;
    background-color: #474747;

}

iframe{

    margin-bottom: 50px;

}